:root {
  --cream: #fff9f0;
  --cream-t: #fff9f0c0;
  --pt: #b9657b;
  --pp: #f6c2ce;
  --bp: #b3f0fb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Chewy", sans-serif;
  background: url("./file-index/index-background.gif") no-repeat center fixed;
  background-size: cover;
  backdrop-filter: blur(2px);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 5%;
  /* background-color: #b3f0fb; */
}

header .photo {
  /* background-color: #b9657b; */
  width: 40%;
  height: 100%;
  text-align: right;
}

header .photo img {
  width: 25rem;
  animation: floatingRotate 3s infinite linear;
}

@keyframes floatingRotate {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  33% {
    transform: translateY(0) rotate(5deg);
  }
  66% {
    transform: translateY(0) rotate(-5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

header .title {
  /* background-color: blueviolet; */
  width: 60%;
  height: 100%;
  text-align: left;
  padding-left: 4%;
}

header .title .t-h1 {
  font-size: 6.8rem;
  color: var(--cream);
  -webkit-text-stroke: 0.3rem var(--pt);
  text-shadow: 8px 8px 16px var(--pt);
  font-weight: 400;
}

header .title .t-h1 span {
  display: inline-block;
  margin: 0 4px;
  opacity: 0;
  transform: scale(-1);
  white-space: nowrap;
}

@keyframes growText {
  from {
    opacity: 0;
    transform: scale(-1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

header > div {
  transform: scale(0);
  opacity: 0;
  animation: grow 0.5s ease-out forwards;
}

@keyframes grow {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 5%;
  /* background-color: #b9657b; */
}

section > div {
   transform: scale(0.5);
   opacity: 0;
   transition: transform 0.2s ease-in-out, opacity 0.1s ease-in-out;
 }

 section:hover > div, section.active > div {
   transform: scale(1);
   opacity: 1;
 }

section .konten1 {
  background-color: var(--cream-t);
  border-radius: 5rem;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.568);
  margin: 0 5rem;
}

section .konten1 > h2 {
  font-size: 2.3rem;
  padding: 5rem;
  color: var(--pt);
  /* -webkit-text-stroke: 0.1px var(--bp); */
  letter-spacing: 0.7px;
  word-spacing: 1px;
  line-height: 1.5;
  text-shadow: 1px 1px 4px var(--bp);
}

section .surprise-button > button {
  font-family: "Chewy", sans-serif;
  font-size: 1.2rem;
  margin-top: 6rem;
  background-color: var(--bp);
  padding: 1rem;
  border-radius: 2rem;
  color: var(--pt);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.568);
  cursor: pointer;
  animation: pulseAnim 1s infinite alternate ease-in-out;
}

@keyframes pulseAnim {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}

section .surprise-button > button:hover {
  background-color: var(--pt);
  color: var(--cream);
  animation: none;
}

/* media queris */
@media (min-width: 1366px) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 1366px) {
  html {
    font-size: 83.5%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 63.5%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 60%;
  }

  header .title .t-h1 {
    font-size: 6rem;
  }

  header .photo {
    width: 50%;
  }

  header .title {
    width: 50%;
  }
}

/* mobile */
@media (max-width: 600px) {
  html {
    font-size: 55%;
  }

  header {
    flex-direction: column;
  }

  header .photo {
    width: 100%;
    height: 50%;
    text-align: center;
  }

  header .photo img {
    width: 40rem;
  }

  header .title {
    width: 90%;
    height: 50%;
    text-align: center;
    padding-left: 0;
    margin-top: 5rem;
  }

  header .title .t-h1 {
    font-size: 5rem;
    text-shadow: 2px 2px 10px var(--pt);
  }  
}

@media (max-width: 500px) {
  html {
    font-size: 49%;
  }
}

@media (max-width: 375px) {
   html {
      font-size: 42%;
   }
}

@media (max-width: 320px) {
  html {
    font-size: 40%;
  }
}
